name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Build APK with Buildozer (Docker)
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/app \
          kivy/buildozer \
          buildozer android debug
